#maintable_wrapper div:nth-child(1){
    padding-inline: 12px;
}
#maintable_wrapper div:nth-child(1) > div {
    padding-inline: 0px;
}
#maintable_wrapper div:nth-child(3){
    padding-inline: 12px;
}
.custome-breadcrumb nav{
    margin-inline: inherit !important;
}
.custome-breadcrumb ol{
    background-color: transparent;
    padding-inline: 0px;
}
.custome-breadcrumb ol li{
    font-size: 22px;
    color: #94a3b8;
}
.custome-breadcrumb ol li a:hover{
    text-decoration: none;
    color: #002793;
}
.custome-breadcrumb ol li a{
    color: #475569;
}
#maintable_wrapper .dt-length label{
    margin-left: 8px;
}
.accept{
    background: #1ab759;
}
.reject{
    background:#FF006B;
}
.themeImageLogo{
    width:150px;
    height:120px;
}
.themeImageFav{
    width: 120px;
    height: 120px;
}
.dt-empty{
    text-align: center;
    padding: 16px 0px;
}
.db-header a{
    height: 20px;
}
.db-header a img{
   height: 20px;
}


